
$form-border-color: #CCC;
$navbarColor: #37474F;

body {
  padding-top: 100px;
}

.form-control {
  border: 1px $form-border-color solid;
  border-radius: 2px;
  padding: 8px 15px;

  &:focus {
    border-color: lighten($navbarColor, 10);
  }
}

header > form {
  float: right;
  padding: 25px;
  & > input[type="text"] {
    background-color: lighten($navbarColor, 10);
    border-color: darken($navbarColor, 5);
    color: #FFF;
  }
}
