
$headerMarginTopBottom: 300px;
$headerPaddingTopBottom: 20px;

.container {
  position: relative;
}

.page-header {
  margin-top: 0;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0;
  .page-header-content{
    @extend %centre;
    font-weight: bold;
    margin-top: $headerMarginTopBottom;
    padding-top: $headerPaddingTopBottom;
    padding-bottom: $headerPaddingTopBottom;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2em;
    width: 100%;
    .formulaire,input{
      width:100%;
      margin: 0;
      color: white;
    }
  }
}

.evenement-header {
  margin-top: -23px;
}
