/*
Sass::SyntaxError: ".page-header .page-header-content" failed to @extend "%centre".
The selector "%centre" was not found.
Use "@extend %centre !optional" if the extend should be able to fail.


Backtrace:
scss/header.scss:15
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:62:in `block in check_extends_fired!'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `block in each_value'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `each'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `each_value'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:51:in `check_extends_fired!'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:16:in `visit'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:39:in `css_tree'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/plugin.rb:109:in `method_missing'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/home/coco/.gem/ruby/2.3.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/home/coco/.gem/ruby/2.3.0/bin/sass:23:in `load'
/home/coco/.gem/ruby/2.3.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".page-header .page-header-content\" failed to @extend \"%centre\".\A The selector \"%centre\" was not found.\A Use \"@extend %centre !optional\" if the extend should be able to fail.\A "; }
