@import 'presets/navbar';
@import 'presets/conteneur';
@import 'presets/alerte';
@import 'presets/composant';

header { @include navbar($couleurThemeFonce,$navbar-hauteur,true,#26A69A); }

.navbar-relative { @include navbar($couleurThemeFonce,$navbar-hauteur,false,#26A69A); z-index:3; }

.navbar-rouge { @include navbar($rouge,$navbar-hauteur,false,$orange); z-index:3; }

.boite { @extend %boite; }

.boite-center { @extend %boite-center; }

.alerte-theme { @include alerte($couleurThemeLeger); }

.alerte-orange { @include alerte($orangeLeger); }

.alerte-rouge { @include alerte($rougeLeger); }

.alerte-vert { @include alerte($vertLeger);   }

.page-header { @extend %page-header; }

.jumbotron { @extend %jumbotron; }

.centrer { @extend %centrer; }

ul.breadcrumb {
    overflow: hidden;
    width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
            @media #{$mq-telephone}{
                margin-top:1em;
            }
		    float: left;
		    margin: 0 10px;
			border-bottom: none;
			padding: 0;
			&:first-child a {
			    border-top-left-radius: 2px;
			    border-bottom-left-radius: 2px;
			}
			&:last-child a {
			    border-top-right-radius: 2px;
			    border-bottom-right-radius: 2px;
			}
			&:not(:first-child) > a::before {
			    content: "";
			    position: absolute;
			    top: 50%;
			    margin-top: -1.5em;
			    border-width: 1.5em 0 1.5em 1em;
			    border-style: solid;
			    border-color: $couleurTheme transparent;
			    left: -1em;
                @media #{$mq-telephone}{
                      margin-top:-1.45em;
                }

			}
			&:not(:first-child) > a:hover::before {
			    border-color: $couleurThemeLeger transparent;
					@include transition(0.3s);
			}

			&:not(:last-child) > a::after {
			  content: "";
			  position: absolute;
			  top: 50%;
			  margin-top: -1.5em;
			  border-top: 1.5em solid transparent;
			  border-bottom: 1.5em solid transparent;
			  border-left: 1em solid $couleurTheme;
			  right: -1em;
			}
			&:not(:last-child) > a:hover::after {
				border-left-color: $couleurThemeLeger;
				@include transition(0.3s);
			}
		}

		a {
		  background: $couleurTheme;
		  padding: .7em 1em;
		  float: left;
		  color: white;
		  position: relative;
		  text-decoration: none;
          text-align: center;




			&:hover {
			    background: $couleurThemeLeger;
					@extend %effetSurvol;
					@include transition(0.3s);
			}

		}



}

ul.pagination {
    display: block;
		list-style-type: none;

		li {
			 border: none;
			 display:inline-block;
			 font-size: 1.2em;
			 padding: 0 10px;
			 line-height: 30px;
			 @include transition(0.3s);

			 &.active {
				 border-radius:2px;
				 border: 1px solid $couleurTheme;
    		     background-color: $couleurThemeLeger;
				 @extend %effetSurvol;
			 }

			 &.chevron {
				 font-size:110%;
				 font-weight:bolder;
			 }

			 &:not(.active):not(.disabled):hover {
				border-radius:2px;
				background-color: $grisFlat;
				@include transition(0.3s);

			 }

			 &:not(.active) {
			  a { color: #444; }
			 }

			 &.disabled {
				 cursor:not-allowed;
			 }
		}
}
