{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

    <div class="container">
        <h1>{{ title }}</h1>
        <p>
            {{ description }}
        </p>
    </div>

{% endblock %}
